apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: etudiant35-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      volumes:
        - name: data-storage
          persistentVolumeClaim:
            claimName: app-pvc
      containers:
        - name: api
          image: ghcr.io/jayden-isaiah/todo-app-jdbc-spring/todo-app-api:d047974
          ports:
            - containerPort: 8080
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
          volumeMounts:
            - name: data-storage
              mountPath: /data