# ./.github/workflows/ci-cd.yml

name: CI/CD Build & Push to GHCR


on:
  push:
    branches:
      - main
    
    paths:
      - 'api/**' 

env:
  
  IMAGE_NAME: ghcr.io/Jayden-Isaiah/todo-app-api 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          [cite_start]java-version: '17' 
          distribution: 'temurin'
          cache: maven
      
      - name: Build with Maven
        
        run: mvn clean package -DskipTests
        working-directory: ./api 
      
      
      
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          
          password: ${{ secrets.GHCR_TOKEN }} 

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: ./api 
          push: true
          
          tags: ${{ env.IMAGE_NAME }}:${{ github.sha }}
          
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest
          labels: ${{ steps.docker_build.outputs.labels }}
